@model ProjetoIF.Models.AtribuicaoUserTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AtribuicaoUserTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuarioAtribuido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuarioAtribuido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarefa.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
