@model IEnumerable<ProjetoIF.Models.Tarefa>

@{
    ViewData["Title"] = "Criar Tarefa";
}

<h4>Tarefas:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                    <a class="btn btn-icon text-primary" asp-controller="Tarefas" asp-action="Edit" asp-route-id="@item.Id" asp-route-projetoId="@item.ProjetoId">
                        <i class="fa fa-file-signature"></i>
                    </a>
                    <a class="btn btn-icon text-danger" asp-controller="Tarefas" asp-action="Delete" asp-route-id="@item.Id" asp-route-projetoId="@item.ProjetoId">
                        <i class="fa fa-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
